* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.search-form {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: rgb(11, 11, 199);
  padding: 15px 0;
}

.search-form input {
  font: inherit;
  padding: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}
.photo-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin: 60px 15px 5px 15px;
  margin: 10px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.img {
  width: 100%;
  height: 200px;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-item {
  font-size: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.info-item:first-child {
  margin-left: 7px;
}
.load-more {
  opacity: 0;
  cursor: pointer;
}
.load-more.show {
  opacity: 1;
  display: block;
  margin: 20px auto;
  background-color: blueviolet;
  border: 0;
  color: #fafafa;
  padding: 14px;

}

.search {
  color: #777;
  width: 35px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 16px;
  padding: 0 2px;
  margin-left: 4px;
}
